<% provide(:title, 'Contact us') %>
<h1>Contact Us</h1>
<h3>...or, mostly me</h3>
<p>
  TODO: create a way to handle contacts that doesn't just have me posting my
  email on an open port on my router. I'm thinking incorporating the discord
  bot.
</p>
