<% provide(:title, 'Help') %>
<h1>Welcome to the help page!</h1>
<p>
  Eventually I will get around to setting up tutorials on how to use the site.
  Hopefully it won't be necessary, but we'll see. I might also explain some o
  the things I like to do when I make a new character (helper sheets, custom
  tokens, etc).
</p>
