<h1>Atlas Adventures!</h1>
<p>
  This is the side project of one of your fellow adventurers. It's a tool to
  help keep everything organized. When it is done, you can track your
  characters as they grow and die. You can submit character sheets to the DMs.
  I plan to support custom token submission, experience and level tracking,
  storage of multiple resources for multiple characters per user, and whatever
  else gets people excited!
</p>
<p>
  Eventually (like, AA2.0) you may even be able to use this to DM your own
  games! I have big plans and even bigger ambitions. THAT BEING SAID, I also
  have a full time job, writing code, so forgive me if this takes a while.
</p>